body {
  margin: 0;
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 background: linear-gradient(89deg, #e66465, #9198e5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}
